* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.monospace {
    font-family: Consolas, "Cascadia Code", "Lucida Console", "Courier New", monospace;
}

.header {
    text-align: center;
    color: goldenrod;
    font-weight: 900;
    margin: 25px;
}

.control {
    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn {
    background-color: goldenrod;
    color: #222;
    padding: 8px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}

.btn:hover {
    background-color: gold;
    cursor: pointer;
}

.board {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #999;
    height: 500px;
    width: 500px;
}

.cell {
    border: #555;
}

.painted {
    background-color: #333;
}